<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        verbose="false">

    <testsuites>
        <testsuite name="core">
            <directory>tests/*</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory suffix=".php">./vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/coverage" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="./tests/coverage/coverage.xml"/>
    </logging>
</phpunit>
